.title{
  color: purple;
}
.pd{
  color: green;
}

html{
  background-color: black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  max-width: 50%;
  margin: auto;
}

img{
  width: 150px;
  height: 350px;
  border: 3px dashed #3bad31;
}


